#cardContainer {
    align-items: center;
    background: salmon;
    display: flex;
    height: 100vh;
    justify-content: center;
}

#deckStandIn{
    background: yellow;
    height:200px;
    width: 150px;
}