#cardContainer {
    align-items: center;
    background: salmon;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.card{
    border-radius: 5px;
    height: 200px;
    margin: 10px;
    width: 150px;
}

#deckStandIn{
    background: yellow;
}

#starterCard{
    background:tomato;
    height:200px;
    width: 150px;
}